# Предобработка датасета

In [1]:
import pandas as pd

movie_data = pd.read_csv('../data/CSM_snake_case.csv')
movie_data.head(6)

,Movie,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
0,13 Sins,2014.0,6.3,8.0,9130.0,4000000.0,45.0,1.0,0.0,3280543.0,4632.0,425.0,636.0,1120000.0
1,22 Jump Street,2014.0,7.1,1.0,192000000.0,50000000.0,3306.0,2.0,2.0,583289.0,3465.0,61.0,186.0,12350000.0
2,3 Days to Kill,2014.0,6.2,1.0,30700000.0,28000000.0,2872.0,1.0,0.0,304861.0,328.0,34.0,47.0,483000.0
3,300: Rise of an Empire,2014.0,6.3,1.0,106000000.0,110000000.0,3470.0,2.0,0.0,452917.0,2429.0,132.0,590.0,568000.0
4,A Haunted House 2,2014.0,4.7,8.0,17300000.0,3500000.0,2310.0,2.0,0.0,3145573.0,12163.0,610.0,1082.0,1923800.0
5,A Long Way Off,2014.0,4.6,3.0,29000.0,500000.0,NaN,1.0,0.0,91137.0,112.0,7.0,1.0,310000.0

## Пропуски данных

Узнаем столбцы с пропусками

In [2]:
movie_data.isnull().sum()

Movie                   1
Year                    1
Ratings                 1
Genre                   1
Gross                   1
Budget                  2
Screens                11
Sequel                  1
Sentiment               1
Views                   1
Likes                   1
Dislikes                1
Comments                1
Aggregate Followers    36
dtype: int64

Заполняем пропуски

In [3]:
movie_data.fillna(movie_data.mean()).isnull().sum()

Movie                  1
Year                   0
Ratings                0
Genre                  0
Gross                  0
Budget                 0
Screens                0
Sequel                 0
Sentiment              0
Views                  0
Likes                  0
Dislikes               0
Comments               0
Aggregate Followers    0
dtype: int64

Проверяем вставки

In [4]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Movie                231 non-null    object
 1   Year                 231 non-null    float64
 2   Ratings              231 non-null    float64
 3   Genre                231 non-null    float64
 4   Gross                231 non-null    float64
 5   Budget               230 non-null    float64
 6   Screens              221 non-null    float64
 7   Sequel               231 non-null    float64
 8   Sentiment            231 non-null    float64
 9   Views                231 non-null    float64
 10  Likes                231 non-null    float64
 11  Dislikes             231 non-null    float64
 12  Comments             231 non-null    float64
 13  Aggregate Followers  196 non-null    float64
dtypes: float64(13), object(1)
memory usage: 25.5+ KB

Сохраняем в csv

In [5]:
movie_data.to_csv('../data/CSM_snake_case.csv', index=False)