In [1]:
import pandas as pd

## Датасет bank_churners.csv

In [2]:
bank_data = pd.read_csv('../data/bank_churners.csv', sep = ',')

In [3]:
bank_data

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

Удалим ненужные признаки из датасета

In [4]:
bank_data.drop('CLIENTNUM', axis=1, inplace=True)
bank_data.drop('Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', axis=1, inplace=True);
bank_data.drop('Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2', axis=1, inplace=True);

Проверим наличие пустых значений признаков

In [5]:
bank_data.isnull().sum()

Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

В предоставленных данных отсутствуют пустые (пропущенные значения).

Порядковые и бинарные признаки обработаем с помощью map().

In [6]:
bank_data["Attrition_Flag"] = bank_data["Attrition_Flag"].map({'Existing Customer': 0, 'Attrited Customer': 1})

In [7]:
education_level_map = {'Unknown': 0, 'Uneducated' : 1, 'High School': 2,
                       'College' : 3, 'Doctorate' : 4, 'Graduate' : 5,
                       'Post-Graduate': 6}

bank_data["Education_Level"] = bank_data["Education_Level"].map(education_level_map)

In [8]:
income_category_map = {'Unknown': 0, 'Less than $40K' : 1, '$40K - $60K': 2,
                       '$60K - $80K' : 3, '$80K - $120K' : 4, '$120K +' : 5}

bank_data["Income_Category"] = bank_data["Income_Category"].map(income_category_map)

In [9]:
card_category_map = {'Blue': 0, 'Silver' : 1, 'Gold': 2, 'Platinum' : 3}
bank_data["Card_Category"] = bank_data["Card_Category"].map(card_category_map)

Категориальные признаки обработаем one-hot кодированием.

In [10]:
bank_data = pd.get_dummies(data=bank_data, prefix='c', columns=['Gender', 'Marital_Status'])
bank_data

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,...,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,c_F,c_M,c_Divorced,c_Married,c_Single,c_Unknown
0,0,45,3,2,3,0,39,5,1,3,...,1144,42,1.625,0.061,0,1,0,1,0,0
1,0,49,5,5,1,0,44,6,1,2,...,1291,33,3.714,0.105,1,0,0,0,1,0
2,0,51,3,5,4,0,36,4,1,0,...,1887,20,2.333,0.000,0,1,0,1,0,0
3,0,40,4,2,1,0,34,3,4,1,...,1171,20,2.333,0.760,1,0,0,0,0,1
4,0,40,3,1,3,0,21,5,1,0,...,816,28,2.500,0.000,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0,50,2,5,2,0,40,3,2,3,...,15476,117,0.857,0.462,0,1,0,0,1,0
10123,1,41,2,0,2,0,25,4,2,3,...,8764,69,0.683,0.511,0,1,1,0,0,0
10124,1,44,1,2,1,0,36,5,3,4,...,10291,60,0.818,0.000,1,0,0,1,0,0
10125,1,30,2,5,2,0,36,4,3,3,...,8395,62,0.722,0.000,0,1,0,0,0,1
10126,1,43,2,5,1,1,25,6,2,4,...,10294,61,0.649,0.189,1,0,0,1,0,0

Сохраним подготовленные данные в отдельный csv файл.

In [11]:
bank_data.to_csv('../data/bank_churners_preprocessed.csv', sep=',')

## Датасет apartment_data.csv

In [12]:
apartments_data = pd.read_csv('../data/apartment_data.csv', sep = ',')

In [13]:
apartments_data

,SalePrice,YearBuilt,YrSold,MonthSold,Size(sqf),Floor,HallwayType,HeatingType,AptManageType,N_Parkinglot(Ground),...,N_FacilitiesNearBy(Mall),N_FacilitiesNearBy(ETC),N_FacilitiesNearBy(Park),N_SchoolNearBy(Elementary),N_SchoolNearBy(Middle),N_SchoolNearBy(High),N_SchoolNearBy(University),N_FacilitiesInApt,N_FacilitiesNearBy(Total),N_SchoolNearBy(Total)
0,141592,2006,2007,8,814,3,terraced,individual_heating,management_in_trust,111.0,...,1.0,1.0,0.0,3.0,2.0,2.0,2.0,5,6.0,9.0
1,51327,1985,2007,8,587,8,corridor,individual_heating,self_management,80.0,...,1.0,2.0,1.0,2.0,1.0,1.0,0.0,3,12.0,4.0
2,48672,1985,2007,8,587,6,corridor,individual_heating,self_management,80.0,...,1.0,2.0,1.0,2.0,1.0,1.0,0.0,3,12.0,4.0
3,380530,2006,2007,8,2056,8,terraced,individual_heating,management_in_trust,249.0,...,1.0,0.0,0.0,2.0,2.0,1.0,2.0,5,3.0,7.0
4,221238,1993,2007,8,1761,3,mixed,individual_heating,management_in_trust,523.0,...,1.0,5.0,0.0,4.0,3.0,5.0,5.0,4,14.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5886,511504,2007,2017,8,1643,19,terraced,individual_heating,management_in_trust,0.0,...,1.0,0.0,2.0,3.0,3.0,2.0,2.0,10,9.0,10.0
5887,298230,2006,2017,8,903,13,terraced,individual_heating,management_in_trust,123.0,...,1.0,2.0,0.0,4.0,3.0,3.0,1.0,4,8.0,11.0
5888,357522,2007,2017,8,868,20,terraced,individual_heating,management_in_trust,0.0,...,1.0,0.0,2.0,3.0,3.0,2.0,2.0,10,9.0,10.0
5889,312389,1978,2017,8,1327,1,corridor,individual_heating,self_management,87.0,...,1.0,0.0,0.0,3.0,3.0,3.0,2.0,3,7.0,11.0
5890,393805,2007,2017,8,868,13,terraced,individual_heating,management_in_trust,0.0,...,1.0,0.0,2.0,3.0,3.0,2.0,2.0,10,9.0,10.0

Отдельно рассмотрим порядковые признаки

In [14]:
apartments_data[["TimeToBusStop","TimeToSubway"]]
print(apartments_data["TimeToBusStop"].unique())
print(apartments_data["TimeToSubway"].unique())

['5min~10min' '0~5min' '10min~15min']
['10min~15min' '5min~10min' '0-5min' '15min~20min' 'no_bus_stop_nearby']

Значение no_bus_stop_nearby признака TimeToSubway будем интерпретировать как отсутствие
рядом с апартаментами автобусной остановки, вследствие чего житель неизбежно должен
воспользоваться метро

Порядковые и бинарные признаки обработаем с помощью map().

In [15]:
time_to_bus_stop_map = {'10min~15min': 0, '5min~10min' : 1, '0~5min': 2}
time_to_subway_map = {'no_bus_stop_nearby': 0, '15min~20min' : 1, '10min~15min': 2,
                      '5min~10min': 3, '0-5min': 4}
apartments_data["TimeToBusStop"] = apartments_data["TimeToBusStop"].map(time_to_bus_stop_map)
apartments_data["TimeToSubway"] = apartments_data["TimeToSubway"].map(time_to_subway_map)
apartments_data[["TimeToBusStop","TimeToSubway"]]

      TimeToBusStop  TimeToSubway
0                 1             2
1                 2             3
2                 2             3
3                 2             4
4                 2             1
...             ...           ...
5886              2             4
5887              1             4
5888              2             4
5889              2             4
5890              2             4

[5891 rows x 2 columns]

Категориальные признаки обработаем one-hot кодированием.

In [16]:
apartments_data[['HallwayType', 'HeatingType', 'AptManageType', 'SubwayStation']]
apartments_data = pd.get_dummies(data=apartments_data, prefix='c', columns=['HallwayType', 'HeatingType', 'AptManageType', 'SubwayStation'])
apartments_data

,SalePrice,YearBuilt,YrSold,MonthSold,Size(sqf),Floor,N_Parkinglot(Ground),N_Parkinglot(Basement),TimeToBusStop,TimeToSubway,...,c_management_in_trust,c_self_management,c_Bangoge,c_Banwoldang,c_Chil-sung-market,c_Daegu,c_Kyungbuk_uni_hospital,c_Myung-duk,c_Sin-nam,c_no_subway_nearby
0,141592,2006,2007,8,814,3,111.0,184.0,1,2,...,1,0,0,0,0,0,1,0,0,0
1,51327,1985,2007,8,587,8,80.0,76.0,2,3,...,0,1,0,0,0,1,0,0,0,0
2,48672,1985,2007,8,587,6,80.0,76.0,2,3,...,0,1,0,0,0,1,0,0,0,0
3,380530,2006,2007,8,2056,8,249.0,536.0,2,4,...,1,0,0,0,0,0,0,0,1,0
4,221238,1993,2007,8,1761,3,523.0,536.0,2,1,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5886,511504,2007,2017,8,1643,19,0.0,1270.0,2,4,...,1,0,0,0,0,0,1,0,0,0
5887,298230,2006,2017,8,903,13,123.0,181.0,1,4,...,1,0,0,0,0,0,0,1,0,0
5888,357522,2007,2017,8,868,20,0.0,1270.0,2,4,...,1,0,0,0,0,0,1,0,0,0
5889,312389,1978,2017,8,1327,1,87.0,0.0,2,4,...,0,1,0,0,0,0,1,0,0,0
5890,393805,2007,2017,8,868,13,0.0,1270.0,2,4,...,1,0,0,0,0,0,1,0,0,0

Сохраним подготовленные данные в отдельный csv файл.

In [17]:
apartments_data.to_csv('../data/apartment_data_preprocessed.csv', sep=',')